In [1]:
import numpy as np
import pandas as pd

In [2]:
# Importing the dataset
df = pd.read_csv("./data/TRIALFACTS_Responses.csv")
df

,First_Name,Last_Name,Gender,Date_of_birth,Do_you_have_persistent_acne_grade_II_and_III,Using_Standard_Antimicrobial_Washes,Treatment_Acne,Contraceptive_Pill_Pregnant_or_Breastfeeding,Anticoagulant_therapy,age
0,david,rodrigues,male,2001,no,no,no,no,no,21
1,james,Brown,Male,2016,no,no,no,no,yes,6
2,oliver,Jones,Male,1983,no,yes,yes,no,no,39
3,liam,Williams,Male,1994,no,yes,yes,no,no,28
4,elijah,Garcia,Male,2014,yes,yes,no,no,no,8
...,...,...,...,...,...,...,...,...,...,...
2494,Emma,Johnson,Female,2007,no,no,no,no,no,15
2495,John,Smith,Male,1988,no,no,no,no,yes,34
2496,Sophia,Smith,Female,2000,no,yes,yes,yes,yes,22
2497,Emma,Smith,Female,1997,no,no,no,no,no,25
2498,Emma,Brown,Female,1971,no,yes,no,no,yes,51

In [3]:
df.isnull().sum()

First_Name                                      0
Last_Name                                       0
Gender                                          0
Date_of_birth                                   0
Do_you_have_persistent_acne_grade_II_and_III    0
Using_Standard_Antimicrobial_Washes             0
Treatment_Acne                                  0
Contraceptive_Pill_Pregnant_or_Breastfeeding    0
Anticoagulant_therapy                           0
age                                             0
dtype: int64

In [4]:
df.columns

Index(['First_Name', 'Last_Name', 'Gender', 'Date_of_birth',
       'Do_you_have_persistent_acne_grade_II_and_III',
       'Using_Standard_Antimicrobial_Washes', 'Treatment_Acne',
       'Contraceptive_Pill_Pregnant_or_Breastfeeding', 'Anticoagulant_therapy',
       'age'],
      dtype='object')

In [5]:
age = 2022 - df['Date_of_birth']
df['age'] = age

In [6]:
df.head(10)

,First_Name,Last_Name,Gender,Date_of_birth,Do_you_have_persistent_acne_grade_II_and_III,Using_Standard_Antimicrobial_Washes,Treatment_Acne,Contraceptive_Pill_Pregnant_or_Breastfeeding,Anticoagulant_therapy,age
0,david,rodrigues,male,2001,no,no,no,no,no,21
1,james,Brown,Male,2016,no,no,no,no,yes,6
2,oliver,Jones,Male,1983,no,yes,yes,no,no,39
3,liam,Williams,Male,1994,no,yes,yes,no,no,28
4,elijah,Garcia,Male,2014,yes,yes,no,no,no,8
5,liam,Garcia,Male,1998,yes,no,no,no,no,24
6,Ava,Johnson,Female,1998,yes,yes,yes,yes,no,24
7,william,Jones,Male,1989,no,no,no,no,yes,33
8,oliver,Smith,Male,2003,yes,yes,no,no,no,19
9,liam,Garcia,Male,2003,yes,yes,no,no,no,19

In [7]:
# Filtering out the data to show the candidates between ages 16 to 35
df = df[df['age'].between(16, 35)]

In [8]:
df

,First_Name,Last_Name,Gender,Date_of_birth,Do_you_have_persistent_acne_grade_II_and_III,Using_Standard_Antimicrobial_Washes,Treatment_Acne,Contraceptive_Pill_Pregnant_or_Breastfeeding,Anticoagulant_therapy,age
0,david,rodrigues,male,2001,no,no,no,no,no,21
3,liam,Williams,Male,1994,no,yes,yes,no,no,28
5,liam,Garcia,Male,1998,yes,no,no,no,no,24
6,Ava,Johnson,Female,1998,yes,yes,yes,yes,no,24
7,william,Jones,Male,1989,no,no,no,no,yes,33
...,...,...,...,...,...,...,...,...,...,...
2484,Sophia,Johnson,Female,2002,no,no,yes,no,no,20
2489,Oliva,Smith,Female,1991,yes,no,yes,no,yes,31
2495,John,Smith,Male,1988,no,no,no,no,yes,34
2496,Sophia,Smith,Female,2000,no,yes,yes,yes,yes,22
2497,Emma,Smith,Female,1997,no,no,no,no,no,25

## Inclusion Criteria

In [9]:
df.columns

Index(['First_Name', 'Last_Name', 'Gender', 'Date_of_birth',
       'Do_you_have_persistent_acne_grade_II_and_III',
       'Using_Standard_Antimicrobial_Washes', 'Treatment_Acne',
       'Contraceptive_Pill_Pregnant_or_Breastfeeding', 'Anticoagulant_therapy',
       'age'],
      dtype='object')

In [10]:

# Person who are not on on anticoagulant therapy
df = df[df.Anticoagulant_therapy == "no"]

# Person who are not on contraceptive pill, pregnant or breastfeeding
df = df[df.Contraceptive_Pill_Pregnant_or_Breastfeeding == "no"]

# Person who are not taking any treatment
df = df[df.Treatment_Acne == "no"]

# Person who are having persistent acne
df = df[df.Do_you_have_persistent_acne_grade_II_and_III == "yes"]

# Person who uses anitmicrobial washes
df = df[df.Using_Standard_Antimicrobial_Washes == "yes"]

In [15]:
df.head(10)

,First_Name,Last_Name,Gender,Date_of_birth,Do_you_have_persistent_acne_grade_II_and_III,Using_Standard_Antimicrobial_Washes,Treatment_Acne,Contraceptive_Pill_Pregnant_or_Breastfeeding,Anticoagulant_therapy,age
8,oliver,Smith,Male,2003,yes,yes,no,no,no,19
9,liam,Garcia,Male,2003,yes,yes,no,no,no,19
29,Amelia,Smith,Female,1993,yes,yes,no,no,no,29
63,oliver,Williams,Male,2001,yes,yes,no,no,no,21
70,elijah,Smith,Male,1991,yes,yes,no,no,no,31
91,james,Johnson,Male,2002,yes,yes,no,no,no,20
223,Olivia,Garcia,Female,1993,yes,yes,no,no,no,29
330,Ava,Williams,Female,1990,yes,yes,no,no,no,32
334,james,Smith,Male,1994,yes,yes,no,no,no,28
344,Charlotte,Brown,Female,1996,yes,yes,no,no,no,26

In [21]:
# Calculating the percentage
total_number_per = (df.First_Name.count()/2499)*100
print("Estimated percentage of the population that might be eligible for, and able to participate in a clinical trial with the below eligibility criteria and physical location." ,round(total_number_per),"%")

Estimated percentage of the population that might be eligible for, and able to participate in a clinical trial with the below eligibility criteria and physical location. 2 %